@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
*,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

:root {
  scroll-behavior: smooth;

  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --btnColor:black;
}

/*********************** COMMON STYLING **********************/
body * {
       transition: 0.3s;
       font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 10px 0;
}

h1 {
  animation: left-to-right 9s forwards infinite running alternate;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  cursor: pointer;
}

p, li, span, label, input, textarea {
  color: var(--mainText);
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}
/*********************** END COMMON STYLING **********************/

/*********************** Hero section ***********************/
#hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/BG-3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  position: relative;
  z-index: 1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .3;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 7rem;
  position: relative;
  color: transparent;
  animation: text-reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#hero h1:nth-child(1) {
  animation-delay: 1s;
}
#hero h1:nth-child(2) {
  animation-delay: 2s;
}
#hero h1:nth-child(3) {
  animation: text-reveal_name .5s ease forwards;
  animation-delay: 3s;
}

#hero h1 span {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
background-color: dodgerblue;
animation: text_reveal_box 1s ease;
animation-delay: 0.3s;
}

#hero h1:nth-child(1) span {
  animation-delay: .5s;
}
#hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid dodgerblue;
  border-radius: 25px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: dodgerblue;
}
/********************************* END Hero section ********************************/

/*********************** NAVIGATION + HEADER = BANNER**********************/
.main-container {
  width: 1200px;
  margin: 50px auto;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
   "nav-wrapper nav-wrapper"
   "left-column right-column"
  ;

}

/****************************** Nav-Bar ******************************/

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  height: 80px;
}

#navigation a {
  color: var(--mainText);
  transition: 0.6s;
}

#navigation li:hover {
  transform: scale(1.1) translateY(-5px);

}

#navigation li a:hover {
  color: fuchsia;

}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
} 

#dot-2 {
  background-color: #fec02f;
} 

#dot-3 {
  background-color: #2aca3e;
} 

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    transition: 0.3s;
}

.browser-dot:hover {
  cursor: pointer;
  transform: scale(1.3);
}
/****************************** END Nav-Bar ******************************/

/****************************** Left Column ******************************/
.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
  display: block;
  margin: 0 auto;
  transition: 0.6s;
}

#profile_pic:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#theme-option-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;

  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;

}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
/****************************** END Left Column ******************************/

/****************************** Right Column ******************************/
.right-column  {
  grid-area: right-column;
  display: grid;
  align-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 200px;
}

#preview-shadow {
  background-color: var(--previewShadow);
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
  transition: 0.6s;
}

#preview:hover {
  cursor: pointer;
  transform: scale(1.4);
  color: transparent;
}

.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
   top: -5px;
   left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}
/****************************** END Right Column ******************************/

/********************  Services section ********** *********/
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#services .service-top {
  max-width: 500px;
  margin: o auto;
}

/*#### repeat for headers with span ####*/
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: var(--mainText);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
}

.section-title span {
  color: dodgerblue;
}
/*#### repeat for headers with span END ####*/

/********* Cards Part ********/
#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 20px;
}

#services .service-item {
  height: 400px;
  flex-basis: 23%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  background-size: cover;
  margin: 10px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: .3s ease-in ;
  box-shadow: 10px 10px 50px 0 #000022a4;
  transition: all .3s ease;
}

#services .service-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 0 #0000002c;
  cursor: pointer;
 
}

#services .service-item:nth-child(1) {
  background-image: url(./images/web-design.jpg);
}
#services .service-item:nth-child(2) {
  background-image: url(./images/FronEnd.jpg);
}
#services .service-item:nth-child(3) {
  background-image: url(./images/backEnd.jpg);
}
#services .service-item:nth-child(4) {
  background-image: url(./images/ethereum.jpg);
}

#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: o;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
  z-index: -1;
}
/********* END Cards Part ********/

.service-item .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#services .service-item p {
  color: white;
  text-align: left;
}
/********************  END Services section *******************/

/************************* About ME & Skills *************************/
.about-wrapper {
  display: block;
  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));  */
  padding: 50px 0;
  gap: 20px;
  text-align: center;
}

.about-me {
  margin-bottom: 200px;
}

.about-me p {
   margin-bottom: 10px;
   text-align: center;
}

.p-top-expertise {
  margin-bottom: 10px;
}

#skills {
  width: 100%;
 
  background-color: var(--previewShadow);
  padding: 10px;
}

#skills ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills ul li {
  width: 40%;
  font-size: 30px;
  word-spacing: 200px;
  text-align: justify;
  display: flex;
  justify-content: space-between;
}

/******* Icons List ******/
.first-ul li i {
   font-size: 40px;
}

#skills ul li:hover i {
  transform: scale(1.6);
  cursor: pointer;
}
 
#skills .li-text:hover {
  cursor: pointer;
} 

.fa-html5 {
  color: red;
}

.fa-css3-alt {
  color: dodgerblue;
}

.fa-sass {
  color: rgb(198, 99, 148);
}

.fa-bootstrap {
  color: #5B3E85;
}

.fa-js-square {
  color: #E8D34D;
}

.fa-react {
  color: #5ED3F3;
}
/************************* END About Me & Skills *************************/

/******************************* Projects *******************************/
.main-container h3 {
  margin-bottom: 40px;
}
.post-wrapper {
  display: grid;
  grid-template-columns: 420px, 420px, 420px, 420px;
  grid-template-rows: 420px, 420px, 420px;
  grid-template-areas: 
   "p-one p-two p-three"
   "p-four p-five p-six"
  ;
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

/**** grid area part ****/
.post-one {
  grid-area: p-one;
}

.post-two {
  grid-area: p-two;
}

.post-three {
  grid-area: p-three;
}

.post-four {
  grid-area: p-four;
}

.post-five {
  grid-area: p-five;
}

.post-six {
  grid-area: p-six;
}
/****^^^^ grid area part ends here ^^^^^****/

/* PROJECTS DIV */
.post {
  display: inline;
  background: white;
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    background-color: transparent;
    width: 420px;
    height: 420px;
    perspective: 700px;
}

/**** flip card ****/
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.post:hover .flip-card-inner {
  transform: rotateY(180deg);
  border: transparent;
  cursor: pointer;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h6, p, a {
  margin: 25px;
}

.thumbnail {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* inner div for h6 P and Link */
.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}
/******************************* END Projects *******************************/

/******************************* CONTACT *******************************/
#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--btnColor);
  border: none;
}
/******************************* END CONTACT *******************************/

/************************ footer ************************/
footer h2 {
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  padding: 10px;
}

footer ul li i, footer ul li a {
  font-size: 30px;
}

footer ul li i:hover, footer ul li a:hover {
   cursor: pointer;
   transform: scale(1.3);
   color: fuchsia;
}
/************************ END footer ************************/


/*********************** Animation **********************/
/* <--main header animation--> */
@keyframes text_reveal_box {
  50% {
        width: 100%;
        left: 0;
  }

  100% {
        width: 0;
        left: 100%;
  }
}

@keyframes text-reveal {
  100% {
        color: white;
  }
}

@keyframes text-reveal_name {
  100% {
        color: dodgerblue;
        font-weight: 500white;
  }
}
/*********************** END Animation **********************/

/************ screen Versions ************/
@media screen and (max-width: 1200px) {
   
  .main-container {
       width: 95%;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    animation: none;
  }
}

/*********************** Tablet Version ***********************/
@media screen and (max-width: 800px) {

  .section-title {
    font-size: 3rem;
  }
  /********** Hero section *********/
#hero h1 {
  font-size: 5rem;
}
/* hero END */
/**** Header & Nav-Bar *****/
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 
     "nav-wrapper"
     "left-column"
     "right-column"
    ;
  
  }

  .right-column {
    justify-content: center;
    padding-bottom: 150px;
  }

  #skills ul li i:hover {
    transform: none;
  }

/********** Services section *********/

#services .service-bottom .service-item {
  flex-basis: 45%;
  margin: 2.5%;
}

/* projects */
  .post-wrapper {
    display: grid;
    grid-template-columns: 320px, 320px, 320px;
    grid-template-rows: 320px, 320px, 320px;
    grid-template-areas: 
     "p-one p-two"
     "p-four p-three"
     "p-five p-six"
     ;
    gap: 20px;
    padding-bottom: 50px;
  }

  .post {
      width: 320px;
      height: 320px;
  }
  
  .thumbnail {
    height: 200px;
  }
  /* Footer */
  footer h2 {
    font-size: 25px;
    text-align: center;
  }
}
/*********************** END Tablet Version ***********************/

/*********************** Mobile Version ***********************/
@media screen and (max-width: 550px) {
 
  #hero h1 {
    font-size: 2.5rem;
  }

  .cta {
    padding: 10px 30px;
    font-size: 1.2rem;
    margin-top: 50px;

  }

.greeting-wrapper > h1 {
  font-size: 1.9rem;
}


/*** navigation ***/
#navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.browser-dot {
  height: 30px;
  width: 30px;
}

#navigation li a {
  font-size: 1rem;
  padding: 10px 0;
}

.right-column  {
  margin-bottom: 50px;
}

/********** Services section *********/
/* cards */

#services .service-bottom {
  flex-direction: column;

}

#services .service-bottom .service-item {
  margin: 2.5%;
}
/**** END Services section ****/

/*** Skills Div ***/
.top-expertise {
       display: flex;
       justify-content: flex-start;
       flex-direction: column;
       align-items: center;
}

.top-expertise > h2 {
  text-align: left;
  margin-bottom: 20px;
}

#skills {
  padding: 40px;
}

#skills ul li {
  font-size: 15px;
}

/* icons list */
.first-ul li i {
   font-size: 40px;
}

/* projects Section */
.post-wrapper {
  display: grid;
  grid-template-columns: 320px, 320px, 320px, 320px, 320px, 320px;
  grid-template-areas: 
   "p-one" 
   "p-two"
   "p-four"
   "p-three"
   "p-five"
   "p-six"
   ;
  gap: 10px;
  justify-content: center;
  padding-bottom: 50px;
}

/* footer Section*/
footer {
  height: auto;
}

footer h2 {
  font-size: 17px;
  text-align: center;
}
  
}
/*********************** END Mobile Version ***********************/